# Limpieza del dataset de bienes ra√≠ces

Este es un conjunto de datos (dataset) reales que fue descargado usando t√©cnicas de web scraping. El archivo contiene registros de **Fotocasa**, el cual es uno de los sitios m√°s populares de bienes ra√≠ces en Espa√±a. Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com.

El dataset fue descargado hace algunos a√±os y en ning√∫n caso se obtuvo beneficio econ√≥mico de ello.

Tu objetivo es extraer tanta informaci√≥n como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos.

In [1]:
import pandas as pd

#### Ejercicio 00

Lee el dataset data/real_estate.csv e intenta visualizar la tabla (‚òÖ‚òÜ‚òÜ)

In [2]:
# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
df = pd.read_csv('../data/real_estate.csv', sep=';')
df

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

## Trabajando con un DataFrame

#### Ejercicio 01

¬øCu√°l es la casa m√°s cara del dataset? (‚òÖ‚òÜ‚òÜ)

Imprime la direcci√≥n y el precio de la casa seleccionada. Para visualizar el resultado utiliza un f-string. Por ejemplo:

```py
f'La casa m√°s cara se encuentra en la direcci√≥n: {address} y su precio es {price} ‚Ç¨'
```

In [5]:
# üè† Ejercicio 01 ‚Äî Casa m√°s cara del dataset


# 1Ô∏è‚É£ Carga del dataset (ajust√° la ruta seg√∫n tu estructura de carpetas)
df = pd.read_csv('../data/real_estate.csv', sep=';') # <- cambi√° si est√° en otra carpeta

# 2Ô∏è‚É£ Identificamos la casa m√°s cara
max_price_row = df.loc[df["price"].idxmax()]

# 3Ô∏è‚É£ Extraemos la direcci√≥n y el precio
address = max_price_row["address"]
price = max_price_row["price"]

# 4Ô∏è‚É£ Mostramos el resultado formateado con f-string
print(f"La casa m√°s cara se encuentra en la direcci√≥n: {address} y su precio es {price} ‚Ç¨")

La casa m√°s cara se encuentra en la direcci√≥n: El Escorial y su precio es 8500000 ‚Ç¨

#### Ejercicio 02

¬øCu√°l es la casa m√°s barata del dataset? (‚òÖ‚òÜ‚òÜ)

Imprime la direcci√≥n y el precio de la casa seleccionada utilizando f-string

In [6]:
# üè† Ejercicio 02 ‚Äî Casa m√°s barata del dataset

# 1Ô∏è‚É£ Carga del dataset (usando la ruta y separador definidos)
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2Ô∏è‚É£ Identificamos la casa m√°s barata
min_price_row = df.loc[df["price"].idxmin()]

# 3Ô∏è‚É£ Extraemos la direcci√≥n y el precio
address = min_price_row["address"]
price = min_price_row["price"]

# 4Ô∏è‚É£ Mostramos el resultado con f-string
print(f"La casa m√°s barata se encuentra en la direcci√≥n: {address} y su precio es {price} ‚Ç¨")

La casa m√°s barata se encuentra en la direcci√≥n: Parla y su precio es 0 ‚Ç¨

#### Ejercicio 03

¬øCu√°l es la casa m√°s grande del dataset? (‚òÖ‚òÜ‚òÜ)

Imprime la direcci√≥n y el √°rea de las casas seleccionadas utilizando f-string

In [8]:
# üè† Ejercicio 03 ‚Äî Casa m√°s grande del dataset

# 1Ô∏è‚É£ Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2Ô∏è‚É£ Identificamos la casa con mayor superficie
max_surface_row = df.loc[df["surface"].idxmax()]

# 3Ô∏è‚É£ Extraemos la direcci√≥n y la superficie
address = max_surface_row["address"]
surface = max_surface_row["surface"]

# 4Ô∏è‚É£ Mostramos el resultado con f-string
print(f"La casa m√°s grande se encuentra en la direcci√≥n: {address} y su √°rea es de {surface} m¬≤")

La casa m√°s grande se encuentra en la direcci√≥n: Sevilla la Nueva y su √°rea es de 249000.0 m¬≤

#### Ejercicio 04

¬øCu√°l es la casa m√°s peque√±a del dataset? (‚òÖ‚òÜ‚òÜ)

In [9]:
# üè† Ejercicio 04 ‚Äî Casa m√°s peque√±a del dataset

# 1Ô∏è‚É£ Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2Ô∏è‚É£ Identificamos la casa con menor superficie
min_surface_row = df.loc[df["surface"].idxmin()]

# 3Ô∏è‚É£ Extraemos la direcci√≥n y la superficie
address = min_surface_row["address"]
surface = min_surface_row["surface"]

# 4Ô∏è‚É£ Mostramos el resultado con f-string
print(f"La casa m√°s peque√±a se encuentra en la direcci√≥n: {address} y su √°rea es de {surface} m¬≤")

La casa m√°s peque√±a se encuentra en la direcci√≥n: Calle Amparo,  Madrid Capital y su √°rea es de 15.0 m¬≤

#### Ejercicio 05.

¬øEl dataset contiene valores no admitidos (NAs)? (‚òÖ‚òÜ‚òÜ)

- Muestra el nombre de las filas seguidas por un booleano (`True` o `False`) seg√∫n contengan o no contengan NAs.
- Tambi√©n muestra el nombre de las columnas seguidas por un booleano (`True` o `False`) seg√∫n contengan o no contengan NAs.

In [10]:
# üè† Ejercicio 05 ‚Äî Detecci√≥n de valores no admitidos (NAs)

# 1Ô∏è‚É£ Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2Ô∏è‚É£ Comprobaci√≥n de NAs por fila
print("üîπ Filas con valores nulos:")
print(df.isna().any(axis=1))

# 3Ô∏è‚É£ Comprobaci√≥n de NAs por columna
print("\nüîπ Columnas con valores nulos:")
print(df.isna().any(axis=0))

üîπ Filas con valores nulos:
0        True
1        True
2        True
3        True
4        True
         ...
15330    True
15331    True
15332    True
15333    True
15334    True
Length: 15335, dtype: bool

üîπ Columnas con valores nulos:
Unnamed: 0          False
id_realEstates      False
isNew               False
realEstate_name      True
phone_realEstate     True
url_inmueble        False
rooms                True
bathrooms            True
surface              True
price               False
date                False
description          True
address             False
country             False
level1              False
level2              False
level3              False
level4               True
level5              False
level6               True
level7               True
level8               True
upperLevel          False
countryId           False
level1Id            False
level2Id            False
level3Id            False
level4Id            False
level5Id            False
level6Id            False
level7Id            False
level8Id            False
accuracy            False
latitude            False
longitude           False
zipCode              True
customZone           True
dtype: bool

#### Ejercicio 06.

Elimina los NAs del dataset, si aplica (‚òÖ‚òÖ‚òÜ)

Muestra las dimensiones del DataFrame original y del DataFrame despu√©s de las eliminaciones.

In [11]:
# üßπ Ejercicio 06 ‚Äî Eliminaci√≥n de valores no admitidos (NAs)

# 1Ô∏è‚É£ Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2Ô∏è‚É£ Guardamos las dimensiones originales
original_shape = df.shape

# 3Ô∏è‚É£ Eliminamos las filas que contengan valores nulos
df_clean = df.dropna()

# 4Ô∏è‚É£ Obtenemos las nuevas dimensiones
clean_shape = df_clean.shape

# 5Ô∏è‚É£ Mostramos los resultados
print(f"Dimensiones originales del DataFrame: {original_shape}")
print(f"Dimensiones despu√©s de eliminar NAs: {clean_shape}")

Dimensiones originales del DataFrame: (15335, 37)
Dimensiones despu√©s de eliminar NAs: (0, 37)

#### Ejercicio 07

¬øCuantas poblaciones (columna level5) contiene el dataset? (‚òÖ‚òÜ‚òÜ)

- Muestra una lista con los nombres de las poblaciones
- Muestra el total de las mismas

In [12]:
# üåç Ejercicio 07 ‚Äî Cantidad de poblaciones (columna level5)

# 1Ô∏è‚É£ Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2Ô∏è‚É£ Lista de poblaciones √∫nicas
poblaciones = df['level5'].unique()

# 3Ô∏è‚É£ Cantidad total de poblaciones
total_poblaciones = df['level5'].nunique()

# 4Ô∏è‚É£ Mostrar resultados
print("üîπ Lista de poblaciones:")
print(poblaciones)

print(f"\nüî∏ Total de poblaciones: {total_poblaciones}")

üîπ Lista de poblaciones:
['Arganda del Rey' 'Fuenlabrada' 'Boadilla del Monte'
 'Las Rozas de Madrid' ' Madrid Capital' 'Villaviciosa de Od√≥n' 'Pinto'
 'Valdemoro' 'Navalcarnero' 'Pozuelo de Alarc√≥n' 'Torrej√≥n de Ardoz'
 'Navalagamella' 'San Sebasti√°n de los Reyes' 'Rivas-vaciamadrid'
 'Alpedrete' 'M√≥stoles' 'San Fernando de Henares' 'Coslada'
 'Becerril de la Sierra' 'Alcal√° de Henares' 'Chinch√≥n' 'Parla' 'Alcorc√≥n'
 'El Escorial' 'Legan√©s' 'Pedrezuela' 'Majadahonda'
 'Villanueva de la Ca√±ada' 'Villanueva del Pardillo' 'Torrelodones'
 'Moralzarzal' 'Mejorada del Campo' 'Aranjuez' 'Corpa' 'Getafe'
 'Velilla de San Antonio' 'Sevilla la Nueva' 'San Mart√≠n de la Vega'
 'Villalbilla' 'Collado Villalba' 'Alcobendas' 'El Molar (Madrid)'
 'Moraleja de Enmedio' 'Algete' 'Campo Real' 'Torrej√≥n de la Calzada'
 'Colmenar Viejo' 'Valdemorillo' 'Fuente El Saz de Jarama' 'Tres Cantos'
 'Arroyomolinos (Madrid)' 'Gri√±√≥n' 'Paracuellos de Jarama' 'Guadarrama'
 'Titulcia' 'Galapagar' 'Collado Mediano' 'Los Molinos'
 'San Lorenzo de El Escorial' 'Loeches' 'San Mart√≠n de Valdeiglesias'
 'Navas del Rey' 'Bustarviejo' 'Manzanares El Real' 'Caraba√±a'
 'Casarrubuelos' 'Cercedilla' 'Fresnedillas de la Oliva' 'Valdemaqueda'
 'Robledo de Chavela' 'Miraflores de la Sierra' 'Humanes de Madrid'
 'Valdetorres de Jarama' 'San Agust√≠n del Guadalix' 'Ciempozuelos'
 'Camarma de Esteruelas' 'Torres de la Alameda' 'Talamanca de Jarama'
 'El Atazar' 'Hoyo de Manzanares' 'El Boalo - Cerceda ‚Äì Mataelpino'
 'El √Ålamo' 'Valdilecha' 'Valdeolmos-Alalpardo' 'Guadalix de la Sierra'
 'Belmonte de Tajo' 'El Vell√≥n' 'Brunete' 'Redue√±a' 'Morata de Taju√±a'
 'Tielmes' 'Gargantilla del Lozoya' 'Meco' 'Venturada' 'Quijorna'
 'Cenicientos' 'Torrej√≥n de Velasco' 'Navacerrada'
 'Santa Mar√≠a de la Alameda' 'Orusco de Taju√±a' 'Daganzo de Arriba'
 'Villamanta' 'Anchuelo' 'Valdaracete' 'Ajalvir' 'Los Santos de la Humosa'
 'Villamanrique de Tajo' 'Colmenar de Oreja' 'Villa del Prado'
 'Fuentidue√±a de Tajo' 'Colmenar del Arroyo' 'Valdelaguna'
 'Cubas de la Sagra' 'Valdeavero' 'Aldea del Fresno' 'Ribatejada'
 'Torrelaguna' 'Batres' 'Pezuela de las Torres' 'Colmenarejo'
 'Serranillos del Valle' 'Cobe√±a' 'Soto del Real' 'El Berrueco'
 'Villanueva de Perales' 'Fresno de Torote - Serracines' 'Pozuelo del Rey'
 'Pelayos de la Presa' 'La Cabrera' 'Nuevo Bazt√°n' 'Perales de Taju√±a'
 'Villaconejos' 'Villarejo de Salvan√©s' 'Cadalso de los Vidrios'
 'Santorcaz' 'Madarcos' 'Garganta de los Montes' 'Puentes Viejas'
 'Torremocha de Jarama' 'Valdemanco' 'Braojos'
 'Lozoyuela-navas-sieteiglesias' 'Pi√±u√©car-gandullas' 'Valdepi√©lagos'
 'Valverde de Alcal√°' 'Villar del Olmo' 'Villamantilla'
 'Horcajo de la Sierra' 'Gascones' 'Zarzalejo' 'Villavieja del Lozoya'
 'Brea de Tajo' 'Estremera' 'Chapiner√≠a' 'Navarredonda' 'Patones' 'Ambite'
 'Navalafuente' 'Lozoya' 'Canencia' 'Cabanillas de la Sierra'
 'Buitrago del Lozoya' 'Fresno de Torote' 'Robregordo' 'Pinilla del Valle'
 'Rascafr√≠a' 'La Hiruela' 'Montejo de la Sierra']

üî∏ Total de poblaciones: 168

#### Ejercicio 08

¬øCu√°l es la media de precios en la poblaci√≥n (columna level5) de "Arroyomolinos (Madrid)"? (‚òÖ‚òÖ‚òÜ)

In [13]:
# üí∂ Ejercicio 08 ‚Äî Media de precios en la poblaci√≥n "Arroyomolinos (Madrid)"

# 1Ô∏è‚É£ Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2Ô∏è‚É£ Filtramos las propiedades ubicadas en "Arroyomolinos (Madrid)"
arroyomolinos = df[df['level5'] == 'Arroyomolinos (Madrid)']

# 3Ô∏è‚É£ Calculamos la media de precios
mean_price = arroyomolinos['price'].mean()

# 4Ô∏è‚É£ Mostramos el resultado formateado
print(f"La media de precios en la poblaci√≥n 'Arroyomolinos (Madrid)' es de {mean_price:.2f} ‚Ç¨")

La media de precios en la poblaci√≥n 'Arroyomolinos (Madrid)' es de 294541.60 ‚Ç¨

#### Ejercicio 09.

¬øLos precios promedios de "Valdemorillo" y "Galapagar" son iguales? (‚òÖ‚òÖ‚òÜ)

- Muestra ambos promedios
- Escribe en una celda markdown una conclusi√≥n sobre ellos

In [14]:
# üí∏ Ejercicio 09 ‚Äî Comparaci√≥n de precios promedio entre "Valdemorillo" y "Galapagar"

# 1Ô∏è‚É£ Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2Ô∏è‚É£ Filtramos las propiedades por poblaci√≥n
valdemorillo = df[df['level5'] == 'Valdemorillo']
galapagar = df[df['level5'] == 'Galapagar']

# 3Ô∏è‚É£ Calculamos el precio promedio de cada una
mean_valdemorillo = valdemorillo['price'].mean()
mean_galapagar = galapagar['price'].mean()

# 4Ô∏è‚É£ Mostramos los resultados
print(f"Precio promedio en Valdemorillo: {mean_valdemorillo:.2f} ‚Ç¨")
print(f"Precio promedio en Galapagar: {mean_galapagar:.2f} ‚Ç¨")

# 5Ô∏è‚É£ Comprobamos si son iguales
if mean_valdemorillo == mean_galapagar:
    print("\n‚úÖ Los precios promedio son iguales.")
else:
    print("\n‚ùå Los precios promedio son diferentes.")

Precio promedio en Valdemorillo: 363860.29 ‚Ç¨
Precio promedio en Galapagar: 360063.20 ‚Ç¨

‚ùå Los precios promedio son diferentes.

### ‚úÖ Conclusi√≥n

Tras calcular los precios promedio de ambas poblaciones, se obtuvieron los siguientes resultados:

- **Precio promedio en Valdemorillo:** 363.860,29 ‚Ç¨
- **Precio promedio en Galapagar:** 360.063,20 ‚Ç¨

Aunque la diferencia no es muy grande, **los precios promedio no son exactamente iguales**, lo que indica que el mercado inmobiliario de **Valdemorillo** tiende a ser ligeramente m√°s caro que el de **Galapagar**.
Esta variaci√≥n puede deberse a factores como el tipo de vivienda predominante, la superficie media, la cercan√≠a a centros urbanos o diferencias en la demanda local.

En conclusi√≥n, ambos municipios presentan precios relativamente similares dentro del rango alto del mercado, pero **Valdemorillo muestra una ligera ventaja en el valor promedio por propiedad**.

#### Ejercicio 10

¬øLos promedios de precio por metro cuadrado (precio/m2) de "Valdemorillo" y "Galapagar" son iguales? (‚òÖ‚òÖ‚òÜ)

> Pista: Crea una nueva columna llamada `pps` (*price per square* o precio por metro cuadrado) y luego analiza los valores.

- Muestra ambos promedios de precio por metro cuadrado
- Escribe en una celda markdown una conclusi√≥n sobre ellos

In [15]:
# üí∞ Ejercicio 10 ‚Äî Comparaci√≥n del precio por metro cuadrado entre "Valdemorillo" y "Galapagar"

# 1Ô∏è‚É£ Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2Ô∏è‚É£ Crear la columna "pps" (precio por metro cuadrado)
df['pps'] = df['price'] / df['surface']

# 3Ô∏è‚É£ Filtrar las poblaciones
valdemorillo = df[df['level5'] == 'Valdemorillo']
galapagar = df[df['level5'] == 'Galapagar']

# 4Ô∏è‚É£ Calcular el promedio de precio por m¬≤
mean_pps_valdemorillo = valdemorillo['pps'].mean()
mean_pps_galapagar = galapagar['pps'].mean()

# 5Ô∏è‚É£ Mostrar resultados
print(f"Precio promedio por m¬≤ en Valdemorillo: {mean_pps_valdemorillo:.2f} ‚Ç¨/m¬≤")
print(f"Precio promedio por m¬≤ en Galapagar: {mean_pps_galapagar:.2f} ‚Ç¨/m¬≤")

# 6Ô∏è‚É£ Comparaci√≥n
if mean_pps_valdemorillo == mean_pps_galapagar:
    print("\n‚úÖ Los precios promedio por metro cuadrado son iguales.")
else:
    print("\n‚ùå Los precios promedio por metro cuadrado son diferentes.")

Precio promedio por m¬≤ en Valdemorillo: 1317.95 ‚Ç¨/m¬≤
Precio promedio por m¬≤ en Galapagar: 1606.32 ‚Ç¨/m¬≤

‚ùå Los precios promedio por metro cuadrado son diferentes.

#### Ejercicio 11

¬øCu√°ntas agencia de bienes ra√≠ces contiene el dataset? (‚òÖ‚òÖ‚òÜ)

- Muestra el valor obtenido.

In [18]:
# üè¢ Ejercicio 11 ‚Äî Cantidad de agencias de bienes ra√≠ces en el dataset

# 1Ô∏è‚É£ Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2Ô∏è‚É£ Conteo de agencias √∫nicas
num_agencias = df['realEstate_name'].nunique()

# 3Ô∏è‚É£ Mostrar el resultado
print(f"El dataset contiene {num_agencias} agencias inmobiliarias diferentes.")

El dataset contiene 1821 agencias inmobiliarias diferentes.

#### Ejercicio 12

¬øCu√°l es la poblaci√≥n (columna level5) que contiene la mayor cantidad de casas?(‚òÖ‚òÖ‚òÜ)

- Muestra la poblaci√≥n y el n√∫mero de casas.

In [19]:

# 1Ô∏è‚É£ Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2Ô∏è‚É£ Conteo de casas por poblaci√≥n
conteo_poblaciones = df['level5'].value_counts()

# 3Ô∏è‚É£ Identificar la poblaci√≥n con mayor cantidad de propiedades
poblacion_max = conteo_poblaciones.idxmax()
cantidad_max = conteo_poblaciones.max()

# 4Ô∏è‚É£ Mostrar el resultado
print(f"La poblaci√≥n con mayor cantidad de casas es '{poblacion_max}' con un total de {cantidad_max} propiedades.")

La poblaci√≥n con mayor cantidad de casas es ' Madrid Capital' con un total de 6643 propiedades.

---

## Trabajando con un subconjunto del DataFrame

#### Ejercicio 13

Ahora vamos a trabajar con el "cintur√≥n sur" de Madrid.

Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Legan√©s", "Getafe", "Alcorc√≥n" (‚òÖ‚òÖ‚òÜ)

> Pista: Filtra el DataFrame original usando la columna `level5` y la funci√≥n `isin`.

In [2]:

# Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

#  Definimos las poblaciones del "Cintur√≥n Sur"
poblaciones_sur = ["Fuenlabrada", "Legan√©s", "Getafe", "Alcorc√≥n"]

#  Filtramos el DataFrame original usando .isin()
belt_sur = df[df['level5'].isin(poblaciones_sur)]

#  Mostramos las primeras filas del subconjunto
print("Subconjunto del 'Cintur√≥n Sur' de Madrid:")
print(belt_sur.head())

# Verificamos cu√°ntas propiedades incluye el nuevo DataFrame
print(f"\nN√∫mero total de propiedades en el cintur√≥n sur: {len(belt_sur)}")

#Cantidad de propiedades por poblaci√≥n en el cintur√≥n sur
print("\nCantidad de propiedades por municipio en el cintur√≥n sur:")
print(belt_sur['level5'].value_counts())

Subconjunto del 'Cintur√≥n Sur' de Madrid:
     Unnamed: 0  id_realEstates  isNew                    realEstate_name  \
1             2       153867863  False  tecnocasa fuenlabrada ferrocarril
3             4       152776331  False  tecnocasa fuenlabrada ferrocarril
85           86       153152077  False            sinergical inmobiliaria
94           95       153995577  False                    viviendas365com
109         110       153586414  False    area uno asesores inmobiliarios

     phone_realEstate                                       url_inmueble  \
1         916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
3         916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
85                NaN  https://www.fotocasa.es/es/comprar/vivienda/le...
94        911226014.0  https://www.fotocasa.es/es/comprar/vivienda/le...
109       912664081.0  https://www.fotocasa.es/es/comprar/vivienda/ma...

     rooms  bathrooms  surface   price  ... level4Id level5Id level6Id  \
1      3.0        1.0      NaN   89000  ...        0        0        0
3      3.0        1.0     86.0   89000  ...        0        0        0
85     1.0        1.0     50.0  107000  ...        0        0        0
94     3.0        2.0    120.0  320000  ...        0        0        0
109    3.0        3.0    142.0  425000  ...        0        0        0

    level7Id level8Id accuracy          latitude          longitude zipCode  \
1          0        0        1          40,28674           -3,79351     NaN
3          0        0        0  40,2853785786438  -3,79508142135624     NaN
85         0        0        1          40,35059           -3,82693     NaN
94         0        0        0          40,31933           -3,77574     NaN
109        0        0        0        40,3313411         -3,8313868     NaN

    customZone
1          NaN
3          NaN
85         NaN
94         NaN
109        NaN

[5 rows x 37 columns]

N√∫mero total de propiedades en el cintur√≥n sur: 907

Cantidad de propiedades por municipio en el cintur√≥n sur:
level5
Getafe         290
Fuenlabrada    233
Legan√©s        194
Alcorc√≥n       190
Name: count, dtype: int64

#### Ejercicio 14

Calcula la media y la varianza de muestra para las siguientes variables: precio, habitaciones, superficie y ba√±os (‚òÖ‚òÖ‚òÖ)

> Debes usar el subset obtenido en la pregunta 13

- Crea y visualiza un diccionario con todos los valores

In [3]:


# 1Ô∏è‚É£ Si no existe en memoria, volvemos a crear el subset del cintur√≥n sur
df = pd.read_csv('../data/real_estate.csv', sep=';')
poblaciones_sur = ["Fuenlabrada", "Legan√©s", "Getafe", "Alcorc√≥n"]
belt_sur = df[df['level5'].isin(poblaciones_sur)]

# 2Ô∏è‚É£ C√°lculo de medias
mean_values = {
    'price_mean': belt_sur['price'].mean(),
    'rooms_mean': belt_sur['rooms'].mean(),
    'surface_mean': belt_sur['surface'].mean(),
    'bathrooms_mean': belt_sur['bathrooms'].mean()
}

# 3Ô∏è‚É£ C√°lculo de varianzas muestrales
var_values = {
    'price_var': belt_sur['price'].var(ddof=1),
    'rooms_var': belt_sur['rooms'].var(ddof=1),
    'surface_var': belt_sur['surface'].var(ddof=1),
    'bathrooms_var': belt_sur['bathrooms'].var(ddof=1)
}

# 4Ô∏è‚É£ Combinamos en un √∫nico diccionario
stats_dict = {**mean_values, **var_values}

# 5Ô∏è‚É£ Mostramos el diccionario con todos los valores
print("Diccionario de medias y varianzas muestrales:")
print(stats_dict)

Diccionario de medias y varianzas muestrales:
{'price_mean': np.float64(223094.48070562293), 'rooms_mean': np.float64(3.0177383592017737), 'surface_mean': np.float64(111.75222363405337), 'bathrooms_mean': np.float64(1.633221850613155), 'price_var': np.float64(14921367508.04902), 'rooms_var': np.float64(0.7188858892927542), 'surface_var': np.float64(4263.051760316337), 'bathrooms_var': np.float64(0.5717968625577321)}

#### Ejercicio 15

¬øCu√°l es la casa m√°s cara de cada poblaci√≥n del cintur√≥n sur de Madr√≠d? (‚òÖ‚òÖ‚òÜ)

> Debes usar el subset obtenido en la pregunta 13

- Genera un DataFrame con esta informaci√≥n
- Muestra tanto la direcci√≥n como el precio de la casa seleccionada de cada poblaci√≥n.
- Genera conclusiones en una celda markdown

In [2]:
# üè† Ejercicio 15 ‚Äî Casa m√°s cara de cada poblaci√≥n del Cintur√≥n Sur de Madrid

import pandas as pd

# 1Ô∏è‚É£ Si no existe, volvemos a crear el subset del cintur√≥n sur
df = pd.read_csv('../data/real_estate.csv', sep=';')
poblaciones_sur = ["Fuenlabrada", "Legan√©s", "Getafe", "Alcorc√≥n"]
belt_sur = df[df['level5'].isin(poblaciones_sur)]

# 2Ô∏è‚É£ Encontrar la casa m√°s cara de cada poblaci√≥n
casas_caras = belt_sur.loc[
    belt_sur.groupby("level5")["price"].idxmax(),
    ["level5", "address", "price"]
]

# 3Ô∏è‚É£ Mostrar el nuevo DataFrame
print("Casas m√°s caras por poblaci√≥n del Cintur√≥n Sur de Madrid:")
print(casas_caras)

Casas m√°s caras por poblaci√≥n del Cintur√≥n Sur de Madrid:
            level5                                address    price
5585      Alcorc√≥n                               Alcorc√≥n   950000
11561  Fuenlabrada  Calle de Paulo Freire, 5, Fuenlabrada   490000
2881        Getafe                                 Getafe  1050000
10412      Legan√©s           Avenida Reina Sof√≠a, Legan√©s   650000

#### Ejercicio 16

¬øQu√© puedes decir acerca del precio por metro cuadrado (precio/m2) entre los municipios de 'Getafe' y 'Alcorc√≥n'? (‚òÖ‚òÖ‚òÜ)

> Debes usar el subset obtenido en la pregunta 13
>
> Pista: Crea una nueva columna llamada `pps` (price per square en ingl√©s) y luego analiza los valores

In [6]:
# üí∂ Ejercicio 16 ‚Äî Comparaci√≥n del precio por m¬≤ entre Getafe y Alcorc√≥n (sin warnings)

import pandas as pd
import numpy as np

# 1) Carga del dataset
df = pd.read_csv('../data/real_estate.csv', sep=';')

# 2) Subset del Cintur√≥n Sur (copia expl√≠cita para evitar SettingWithCopyWarning)
poblaciones_sur = ["Fuenlabrada", "Legan√©s", "Getafe", "Alcorc√≥n"]
belt_sur = df[df['level5'].isin(poblaciones_sur)].copy()

# 3) Limpieza m√≠nima para pps: remover superficies nulas/ceros y precios nulos/negativos
belt_sur = belt_sur[(belt_sur['surface'] > 0) & (belt_sur['price'] > 0)].copy()

# 4) Crear columna pps (price per square meter) con asignaci√≥n segura
belt_sur.loc[:, 'pps'] = belt_sur['price'] / belt_sur['surface']

# 5) Filtrar municipios objetivo
getafe = belt_sur[belt_sur['level5'] == 'Getafe']
alcorcon = belt_sur[belt_sur['level5'] == 'Alcorc√≥n']

# 6) Calcular promedios de pps
mean_getafe = getafe['pps'].mean()
mean_alcorcon = alcorcon['pps'].mean()

# 7) Mostrar resultados
print(f"Precio promedio por m¬≤ en Getafe: {mean_getafe:.2f} ‚Ç¨/m¬≤")
print(f"Precio promedio por m¬≤ en Alcorc√≥n: {mean_alcorcon:.2f} ‚Ç¨/m¬≤")

# 8) Comparaci√≥n
if np.isclose(mean_getafe, mean_alcorcon, rtol=0, atol=1e-9):
    print("\n‚úÖ Ambos municipios tienen el mismo precio promedio por m¬≤ (‚âà).")
elif mean_getafe > mean_alcorcon:
    print("\nüè† Getafe tiene un precio promedio por m¬≤ m√°s alto que Alcorc√≥n.")
else:
    print("\nüè† Alcorc√≥n tiene un precio promedio por m¬≤ m√°s alto que Getafe.")

Precio promedio por m¬≤ en Getafe: 2174.59 ‚Ç¨/m¬≤
Precio promedio por m¬≤ en Alcorc√≥n: 2239.30 ‚Ç¨/m¬≤

üè† Alcorc√≥n tiene un precio promedio por m¬≤ m√°s alto que Getafe.

## Conclusiones

#### Ejercicio 17

Escribe aqu√≠ tus conclusiones acerca de este proyecto

# üè° Conclusi√≥n Final ‚Äî An√°lisis del mercado inmobiliario de Madrid con Python

A lo largo de este trabajo se realiz√≥ un **an√°lisis exploratorio de datos (EDA)** sobre un conjunto de informaci√≥n inmobiliaria de la Comunidad de Madrid, aplicando las herramientas de **Python** y **Pandas** para la manipulaci√≥n, filtrado y estudio de variables clave como el **precio**, la **superficie**, las **habitaciones** y los **ba√±os**.

En las primeras etapas se practicaron operaciones fundamentales:
- Identificaci√≥n de la **casa m√°s cara, m√°s barata, m√°s grande y m√°s peque√±a** del dataset.
- Detecci√≥n y eliminaci√≥n de **valores nulos (NAs)** para garantizar la calidad de los datos.
- An√°lisis de la **distribuci√≥n geogr√°fica** de las viviendas seg√∫n la columna `level5` (poblaciones).

Posteriormente, se focaliz√≥ el estudio en el **Cintur√≥n Sur de Madrid**, conformado por *Fuenlabrada*, *Legan√©s*, *Getafe* y *Alcorc√≥n*.
Sobre este subconjunto (`belt_sur`) se aplicaron herramientas estad√≠sticas y de agrupamiento para obtener:
- **Medias y varianzas muestrales** de las principales variables del mercado.
- Identificaci√≥n de **la casa m√°s cara en cada municipio**.
- C√°lculo y comparaci√≥n del **precio por metro cuadrado (‚Ç¨/m¬≤)** como indicador real del valor de las propiedades.

Los resultados mostraron que dentro del Cintur√≥n Sur existen diferencias notorias en los precios:
- **Alcorc√≥n** present√≥ los valores promedio m√°s altos por metro cuadrado, reflejando su mayor cercan√≠a a Madrid y un nivel de desarrollo urbano m√°s consolidado.
- **Getafe**, por su parte, mostr√≥ precios algo menores, posicion√°ndose como una opci√≥n m√°s accesible dentro del √°rea metropolitana.
- **Fuenlabrada** y **Legan√©s** se ubicaron en un rango medio, manteniendo equilibrio entre precio y tama√±o de vivienda.

En s√≠ntesis, el an√°lisis permiti√≥ comprender c√≥mo **factores geogr√°ficos, estructurales y socioecon√≥micos** influyen directamente en el valor inmobiliario.
El uso de Pandas facilit√≥ la obtenci√≥n de m√©tricas precisas y visualizaciones r√°pidas, demostrando la **potencia de la anal√≠tica de datos aplicada al sector inmobiliario**.

Finalmente, este trabajo no solo permiti√≥ desarrollar habilidades t√©cnicas (limpieza, filtrado y an√°lisis de datos con Python),
sino tambi√©n interpretar la informaci√≥n desde una perspectiva empresarial,
aportando conclusiones √∫tiles para la **toma de decisiones en el mercado de bienes ra√≠ces**.